/* General Page Style */
.register-container,
.booking-container {
  background-color: #f9fdff;
  font-family: sans-serif;
  padding: 0;
  margin: 10;
  min-height: 100vh;
  text-align: center;
  color: black;

}

/* Header Style */
.register-header {
  background-color: #75412c;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 30px;
  margin-top: 20px;
  border-radius: 8px;
}

/* Form Styling */
.register-form,
.booking-form {
  margin: 30px auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
  margin-left: 300px;
}

.register-form input,
.booking-form input {
  padding: 15px;
  font-size: 15px;
  border: 1px solid #8c5a3c;
  background-color: #fffacb;
  color: rgb(4, 5, 5);

  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  height: 30px;
}

/* Button Styling */
.register-button,
.book-button,
button {
  background-color: #8c5a3c;
  color: white;
  border: 2px solid black;
  padding: 12px 24px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 160px;
  height: 60px;
  margin: 10px auto;
}

/* Footer (if needed) */
.register-footer {
  background-color: #75412c;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  margin: 10px;
}

/* Extra Buttons */
.home-button {
  background-color: #fffacb;
  color: #75412c;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  
}
