.footer-section {
  background-color: #6a3b25;
  color: white;
  padding: 40px 20px;
  font-family: 'Georgia', serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column p {
  margin: 5px 0;
}

.footer-login-btn {
  background-color: #fffccc;
  color: #6a3b25;
  padding: 12px 28px;
  border-radius: 30px;
  border: 1PX solid black;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 20px;
}

.footer-column.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
