.send-message-container {
  max-width: 600px;
  margin: auto;
  padding: 3rem;
  background: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #D9D9D9;

  margin-top: 30px;
}


.send-message-form input {
  width: 100%;
  margin-bottom: 2rem;
  height: 30px;
  padding: 0.75rem;
  background-color: #D9D9D9;
  color: #774936;
}

.send-message-form textarea{
   width: 100%;
  margin-bottom: 2rem;
  height: 80px;
  padding: 0.75rem;
  background-color: #D9D9D9;
  color: #774936;
}

.send-message-form button {
  padding: 0.75rem 1.5rem;
  background: #774936;
  color: white;
  cursor: pointer;
  margin-left: 100px;
  width: 200px;
}
.send-message-form p{
   margin-left: 300px;  
}

@media (max-width: 768px) {
  .SendMessage {
    flex-direction: column;
    padding: 1rem;
  }}


